body{
    display: grid;
    grid-template-columns: 282px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    transition: 300ms ease-in-out;
    font-family: var(--fontfamily)
}

main{
    grid-area: main;
}

