  /* Header Section */
  header{
    display: flex;
    align-items: center;

    svg{
        fill: var(--color-icon-primary);
        width: var(--clamp-6);
        height: max-content;
    }
    div{
        display: none;
        align-items: center;
        padding: var(--clamp-3);
        transition: 0.3s ease-in-out;
        border-radius: var(--clamp-2);
        cursor: pointer;
    }
    div:hover{
        svg{
        fill: var(--color-text-primary);
        }
        background: var(--color-background);
    }
  }

  h4 {
    flex-grow: 1;
    color: var(--color-text-primary);
  }
  
  /*  Filter Section  */
  .filter {
    display: flex;
    border-radius: var(--clamp-4);
    background: var(--color-background);
    width: fit-content;
    padding: var(--clamp-4);
    gap: var(--clamp-4);
  }

  .filter > div {
    display: flex;
    align-items: center;
    gap: var(--clamp-3);
    padding: var(--clamp-2);
    border-radius: var(--rem-2);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    font-size: var(--clamp-4);
  }

  .filter > div svg {
    fill: var(--color-icon-secondary);
    transition: 0.5s ease;
    width: var(--clamp-4);
  }

  .filter > div:hover:first-child,
  .filter > div svg {
    background: none;
    fill: var(--color-icon-primary);
    cursor: inherit;
  }

  #close-filters{
    display: none;
    align-items: center;
    svg{
        fill: var(--color-icon-secondary);
    }
    padding: 0 var(--clamp-2);
    border-radius: var(--clamp-2);
    cursor: pointer;
    margin-right: -6px;
  }

  #close-filters:hover{
    svg{
        fill: var(--color-icon-primary);
    }
    background: var(--color-background-secondary);
  }

  .rotate {
    transform: rotate(180deg);
  }

  /* Custom Dropdown Temel Stili */

  .selected {
    color: var(--color-text-primary);
    user-select: none;
    transition: 0.3s ease-in-out;
    flex-grow: 1;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background: var(--color-background);
    padding: var(--clamp-2);
    border-radius: var(--clamp-2);
    z-index: 100;
    width: fit-content;
    filter: drop-shadow(0 13px 61px var(--color-overlay));
    border: 0.1px solid var(--color-border-secondary);
  }

  .custom-dropdown.dropdown-active .dropdown-menu {
    display: block;
  }

  .dropdown-menu div {
    padding: var(--clamp-2);
    font-size: var(--clamp-4);
    color: var(--color-text-primary);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
    border-radius: var(--clamp-2);
  }
  .custom-dropdown .dropdown-menu div:hover {
    background: var(--color-background-hover);
  }
  
  /* Hover etkisi tüm filtre elemanlarında */
  .filter > div:hover {
    background: var(--color-background-hover);
  }
  
  .custom-dropdown:hover .selected {
    color: var(--color-text-primary);
  }
  
  /* Reset butonu */
  #reset-filter span {
    background: none;
    color: var(--color-error);
  }
  #reset-filter svg {
    stroke: var(--color-error);
    fill: none;
  }
  #reset-filter:hover {
    background: var(--color-error-hover);
  }
  

  @media(max-width:768px) {
    header div{
        display: flex;
    }

    .filter-active::after,
    main.filter-active .filter{
        display: flex;
    }

    main .filter {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        flex-direction: column;
        flex-grow: 1;
        z-index: 1;
        min-width: 60%;
    }
    main:after{
        display: none;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-overlay);
    }
    .filter > div:first-child {
        gap: var(--clamp-4);
        margin-bottom: var(--clamp-4);
    }
    #close-filters{
        display: flex;
    }
    .dropdown-menu div {
        padding: var(--clamp-3) !important;
        font-size: var(--clamp-5) !important;
    }
    .filter > div {
        gap: var(--clamp-8);
        padding: var(--clamp-4);
        flex-grow: 1;
        font-size: var(--clamp-6);
    }
    .filter > div span {
        flex-grow: 1;
    }
    .filter > div svg {
        width: var(--clamp-6);
    }
    main {
        padding: 0;
    }
}

  
  /*  Table Section  */
  table {
    border-radius: var(--clamp-4);
    background: var(--color-background);
    padding: var(--clamp-2);
    font-size: var(--clamp-4);
    width: 100%;
  }
  th {
    color: var(--color-text-primary);
    cursor: pointer;
    padding: var(--clamp-2);
    transition: 0.3s ease-in-out;
    border-radius: var(--clamp-2);
    flex-grow: 1;
  }
  td {
    text-align: center;
    color: var(--color-text-secondary);
    padding: var(--clamp-4) var(--clamp-2);
    transition: 0.3s ease-in-out;
    cursor: default;
  }
  th:nth-child(2),
  td:nth-child(2){
    padding-left: var(--clamp-2);
    text-align: left;
  }
  td:hover {
    color: var(--color-text-primary);
  }
  th:hover {
    background-color: var(--color-background-hover);
  }
  
  /*  Responsive Tablo - Mobil Kart Tasarımı  */
  @media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    table{
      background: none;
      padding: 0;
    }
    h4{
      font-size: calc(var(--clamp-7) - 3px);
      margin-left: 5px;
    }
    thead {
      display: none;
    }
    tr {
      border-radius: var(--clamp-4);
      margin-bottom: var(--clamp-4);
      background: var(--color-background);
      padding: var(--clamp-4);
    }
    td {
      display: flex;
      justify-content: space-between;
      padding: var(--clamp-2);
      border: none;
      text-align: end;
    }
    td::before {
      color: var(--color-text-primary);
      content: attr(data-label);
      font-weight: bold;
      margin-right: var(--clamp-3);
      text-align: start;
    }
  }