@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --primary: #162D3A;
    --secondary: #F7FBFF;
    --background: #ffffff;
    --text: #0C1421;
    --text-secondary: #8897AD;
    --contrast: #ffffff;
    --border: 1px solid #D4D7E3;
    --link: #1E4AE9;
    --overlay: rgba(255, 255, 255, 0.6);

}
.dark {
    --primary: #13893b;
    --secondary: #272727;
    --background: #0f0f0f;
    --text: #f1f1f1;
    --text-secondary: #aaa;
    --contrast: #ffffff;
    --border: 2px solid#303030;
    --link: #3ea6ff;
    --overlay: rgba(0, 0, 0, 0.4);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}