:root {
    /* MAIN COLORS */
    --color-primary: #2c415c;
    --color-primary-hover: #24334d;
    --color-primary-active: #1f2d41;
    --color-primary-focus: #2a3d55;
  
    --color-secondary: #24334d;
    --color-secondary-hover: #12213b;
    --color-secondary-active: #0d1c36;
    --color-secondary-focus: #15243d;
  
    --color-error: #EF4444;
    --color-error-hover: #fcc;
    --color-error-active: #c23030;
    --color-error-focus: #e64545;
  
    --color-success: #10B981;
    --color-success-hover: #0ea571;
    --color-success-active: #0c8b60;
    --color-success-focus: #0fb680;
  
    --color-warning: #F59E0B;
    --color-warning-hover: #d58909;
    --color-warning-active: #b37408;
    --color-warning-focus: #e48f0a;
  
    --color-warning-light: #FACC15;
    --color-warning-light-hover: #e6b90f;
    --color-warning-light-active: #d4a00d;
    --color-warning-light-focus: #e1ac0e;
  
    /* TEXT COLORS */
    --color-text-primary: #1E293B;
    --color-text-secondary: #8892a1;
    --color-text-disabled: #A3A3A3;
    --color-link: #2563EB;
    --color-link-hover: #1f56d1;
    --color-link-active: #1a4bb8;
    --color-link-visited: #4338CA;
    --color-text-contrast: #FFFFFF;
  
    /* ICON COLORS */
    --color-icon-primary: #2c415c;
    --color-icon-primary-hover: #24334d;
    --color-icon-secondary: #94A3B8;
    --color-icon-contrast: #FFFFFF;
  
    /* BACKGROUND COLORS */
    --color-background: #FFFFFF;
    --color-background-hover: #ececec;
    --color-background-active: #f1f3f5;
    --color-background-focus: #f0f0f0;
    --color-background-secondary: #F1F5F9;
    --color-background-secondary-hover: #E2E8F0;
    --color-background-secondary-active: #CBD5E1;
    --color-background-contrast: #1E293B;
    --color-background-thumbnail: #1D4ED8;
    --color-background-warning: #FEF9C3;
  
    /* STATE COLORS */
    --color-state-hover: rgba(44, 65, 92, 0.85);
    --color-state-hover-secondary: rgb(227, 227, 227);
    --color-state-active: rgba(203, 213, 225, 0.10); 
    --color-state-focus: rgba(191, 219, 254, 0.75); 
    --color-state-disabled: rgba(30, 41, 59, 0.38);
    --color-overlay: rgba(218, 232, 253, 0.50);
    --color-overlay-viewer: #2C2C2C;
    --color-toolbar-background: rgba(30, 41, 59, 0.30);
  
    /* BORDER COLORS */
    --color-border-default: #E2E8F0;
    --color-border-secondary: #e1e1e15d;
    --color-border-hover: #CBD5E1;
    --color-border-active: #94A3B8;
    --color-divider: #E2E8F0;
  
    /* OTHER COLORS */
    --color-input-background: #FFFFFF;
    --color-input-border: #E2E8F0;
    --color-input-text: #1E293B;
    --color-input-placeholder: #64748B;
    --color-card-background: #FFFFFF;
    --color-card-shadow: rgba(0, 0, 0, 0.05);
    --color-modal-overlay: rgba(0, 0, 0, 0.5);
  }

  @media (prefers-color-scheme: dark) {
    :root {
        /* MAIN COLORS */
        --color-primary: #2783EC;
        --color-primary-hover: #0d59b0;
        --color-primary-active: #0a4d9a;
        --color-primary-focus: #176dd0;
    
        --color-secondary: #60A5FA;
        --color-secondary-hover: #5498e5;
        --color-secondary-active: #478ad0;
        --color-secondary-focus: #5ea3f8;
    
        --color-error: #EF4444;
        --color-error-hover: #d83a3a47;
        --color-error-active: #c23030;
        --color-error-focus: #e64545;
    
        --color-success: #10B981;
        --color-success-hover: #0ea571;
        --color-success-active: #0c8b60;
        --color-success-focus: #0fb680;
    
        --color-warning: #F59E0B;
        --color-warning-hover: #d58909;
        --color-warning-active: #b37408;
        --color-warning-focus: #e48f0a;
    
        --color-warning-light: #FACC15;
        --color-warning-light-hover: #e6b90f;
        --color-warning-light-active: #d4a00d;
        --color-warning-light-focus: #e1ac0e;
    
        /* TEXT COLORS */
        --color-text-primary: #F0F0F0;
        --color-text-secondary: #A0A0A0;
        --color-text-disabled: #6D6D6D;
        --color-link: #2eb2ff;
        --color-link-hover: #228cc9;
        --color-link-active: #0f98e7;
        --color-link-visited: #3A78C2;
        --color-text-contrast: #FFFFFF;
    
        /* ICON COLORS */
        --color-icon-primary: #d0d0d0;
        --color-icon-primary-hover: #e6e6e6;
        --color-icon-secondary: #7c7c7c;
        --color-icon-contrast: #FFFFFF; 
    
        /* BACKGROUND COLORS */
        --color-background: #121212;
        --color-background-hover: #292929;
        --color-background-active: #222222;
        --color-background-focus: #1f1f1f;
        --color-background-secondary: #1E1E1E;
        --color-background-secondary-hover: #2A2A2A;
        --color-background-secondary-active: #333333;
        --color-background-contrast: #ffffff;
        --color-background-thumbnail: #357ABD;
        --color-background-warning: #665C1E;
    
        /* STATE COLORS */
        --color-state-hover: rgba(74, 144, 226, 0.85);
        --color-state-hover-secondary: #292929;
        --color-state-active: rgba(74, 144, 226, 0.10);
        --color-state-focus: rgba(74, 144, 226, 0.50);
        --color-state-disabled: rgba(240, 240, 240, 0.38);
        --color-overlay: rgba(0, 0, 0, 0.50);
        --color-overlay-viewer: #2C2C2C;
        --color-toolbar-background: rgba(18, 18, 18, 0.30);
    
        /* BORDER COLORS */
        --color-border-default: #333333;
        --color-border-secondary: #3333335d;
        --color-border-hover: #444444;
        --color-border-active: #555555;
        --color-divider: #444444;
    
        /* OTHER COLORS */
        --color-input-background: #1E1E1E;
        --color-input-border: #333333;
        --color-input-text: #F0F0F0;
        --color-input-placeholder: #A0A0A0;
        --color-card-background: #1E1E1E;
        --color-card-shadow: rgba(0, 0, 0, 0.7);
        --color-modal-overlay: rgba(0, 0, 0, 0.7);
    }
  }