/* @import url(https://alfloyem.github.io/New-UNEC/css/variables/typography.css);
@import url(https://alfloyem.github.io/New-UNEC/css/variables/spacing.css);
@import url(https://alfloyem.github.io/New-UNEC/css/variables/palatte.css); */
@import url(../variables/typography.css);
@import url(../variables/spacing.css);
@import url(../variables/palatte.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:focus-visible {
    outline: 4px solid var(--color-state-focus);
}

:visited {
    color: inherit;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}