@import url(https://alfloyem.github.io/NewUnec/css/variables/typography.css);
@import url(https://alfloyem.github.io/NewUnec/css/variables/spacing.css);
@import url(https://alfloyem.github.io/NewUnec/css/variables/palatte.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus-visible {
    outline: none;
}