:root {
    /* Piksel Values */
    --1: 4px;
    --2: 8px;
    --3: 12px;
    --4: 16px;
    --5: 20px;
    --6: 24px;
    --7: 36px;
    --8: 48px;
    --9: 64px;
    --10: 96px;
    --11: 128px;
    --12: 256px;

    /* REM Values */
    --rem-1: 0.25rem;   /* 4px */
    --rem-2: 0.5rem;    /* 8px */
    --rem-3: 0.75rem;   /* 12px */
    --rem-4: 1rem;      /* 16px */
    --rem-5: 1.25rem;   /* 20px */
    --rem-6: 1.5rem;    /* 24px */
    --rem-7: 2.25rem;   /* 36px */
    --rem-8: 3rem;      /* 48px */
    --rem-9: 4rem;      /* 64px */
    --rem-10: 6rem;     /* 96px */
    --rem-11: 8rem;     /* 128px */
    --rem-12: 16rem;    /* 256px */

    /* REM Alternatives Values */
    --rem-alternativ-1: 0.375rem;    /* 6px */
    --rem-alternativ-2: 0.625rem;    /* 10px */
    --rem-alternativ-3: 0.875rem;    /* 14px */
    --rem-alternativ-4: 1.125rem;    /* 18px */
    --rem-alternativ-5: 1.375rem;    /* 22px */
    --rem-alternativ-6: 1.75rem;     /* 28px */
    --rem-alternativ-7: 2.5rem;      /* 40px */
    --rem-alternativ-8: 3.5rem;      /* 56px */
    --rem-alternativ-9: 4.5rem;      /* 72px */
    --rem-alternativ-10: 7.5rem;     /* 120px */    
  
    /* VW Values */
    --vw-1: 0.26vw;    /* 4px */
    --vw-2: 0.52vw;    /* 8px */
    --vw-3: 0.78vw;    /* 12px */
    --vw-4: 1.04vw;    /* 16px */
    --vw-5: 1.3vw;     /* 20px */
    --vw-6: 1.56vw;    /* 24px */
    --vw-7: 2.34vw;    /* 36px */
    --vw-8: 3.13vw;    /* 48px */
    --vw-9: 4.17vw;    /* 64px */
    --vw-10: 6.25vw;   /* 96px */
    --vw-11: 8.34vw;   /* 128px */
    --vw-12: 16.67vw;  /* 256px */
  
    /* VH Values */
    --vh-1: 0.54vh;    /* 4px */
    --vh-2: 1.08vh;    /* 8px */
    --vh-3: 1.62vh;    /* 12px */
    --vh-4: 2.16vh;    /* 16px */
    --vh-5: 2.7vh;     /* 20px */
    --vh-6: 3.24vh;    /* 24px */
    --vh-7: 4.86vh;    /* 36px */
    --vh-8: 6.48vh;    /* 48px */
    --vh-9: 8.64vh;    /* 64px */
    --vh-10: 12.96vh;  /* 96px */
    --vh-11: 17.28vh;  /* 128px */
    --vh-12: 34.56vh;  /* 256px */
  
    /* Clamp Values */
    --clamp-1: clamp(var(--rem-1) * 0.75, var(--vw-1), var(--rem-1) * 2);
    --clamp-2: clamp(var(--rem-2) * 0.75, var(--vw-2), var(--rem-2) * 2);
    --clamp-3: clamp(var(--rem-3) * 0.75, var(--vw-3), var(--rem-3) * 2);
    --clamp-4: clamp(var(--rem-4) * 0.75, var(--vw-4), var(--rem-4) * 2);
    --clamp-5: clamp(var(--rem-5) * 0.75, var(--vw-5), var(--rem-5) * 2);
    --clamp-6: clamp(var(--rem-6) * 0.75, var(--vw-6), var(--rem-6) * 2);
    --clamp-7: clamp(var(--rem-7) * 0.75, var(--vw-7), var(--rem-7) * 2);
    --clamp-8: clamp(var(--rem-8) * 0.75, var(--vw-8), var(--rem-8) * 2);
    --clamp-9: clamp(var(--rem-9) * 0.75, var(--vw-9), var(--rem-9) * 2);
    --clamp-10: clamp(var(--rem-10) * 0.75, var(--vw-10), var(--rem-10) * 2);
    --clamp-11: clamp(var(--rem-11) * 0.75, var(--vw-11), var(--rem-11) * 2);
    --clamp-12: clamp(var(--rem-12) * 0.75, var(--vw-12), var(--rem-12) * 2);

    --min-1: min(0.25em, 8%);
    --min-2: min(0.5em, 8%);
    --min-3: min(0.75em, 8%);
    --min-4: min(1em, 8%);
    --min-5: min(1.25em, 8%);
    --min-6: min(1.5em, 8%);
    --min-7: min(2.25em, 8%);
    --min-8: min(3em, 8%);
    --min-9: min(4em, 8%);
    --min-10: min(6em, 8%);
    --min-11: min(8em, 8%);
    --min-12: min(16em, 8%);
}